In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from pathlib import Path

In [2]:
# Load .env environment variables
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
# Verifying that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [5]:
# Creating the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [6]:
# Format current date as ISO format
yesterday = pd.Timestamp("2022-08-22", tz="UTC").isoformat()

In [7]:
five_years_ago = pd.Timestamp("2017-08-22", tz="UTC").isoformat()

In [8]:
# Set the ticker
ticker = ["BTCUSD"]

In [9]:
# Set timeframe to one day ('1Day') for the Alpaca API
timeframe = "1Day"

In [10]:
# Get closing prices for BTC/USD
df = alpaca.get_crypto_bars(
    ticker,
    timeframe,
    start = five_years_ago,
    end = yesterday
).df

In [11]:
# Display sample data
display(df.head())
display(df.tail())

,exchange,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,,
2017-08-22 05:00:00+00:00,CBSE,3662.74,4145.00,3583.46,4092.00,13675.653936,39320,3934.254578,BTCUSD
2017-08-23 05:00:00+00:00,CBSE,4142.50,4218.00,4112.76,4143.27,2299.176066,8164,4159.198204,BTCUSD
2017-08-24 05:00:00+00:00,CBSE,4143.28,4349.99,4134.61,4312.03,7921.954295,31051,4231.990112,BTCUSD
2017-08-25 05:00:00+00:00,CBSE,4325.01,4453.90,4284.01,4360.00,8711.254435,30231,4368.579716,BTCUSD
2017-08-26 05:00:00+00:00,CBSE,4344.32,4392.00,4320.84,4326.00,1588.006506,7440,4350.164046,BTCUSD

,exchange,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,,
2022-08-20 05:00:00+00:00,ERSX,21126.80,21356.90,20805.60,21236.10,29.352883,595,21145.490600,BTCUSD
2022-08-20 05:00:00+00:00,FTXU,21242.00,21359.00,20768.00,21196.00,1747.781200,13045,21138.025281,BTCUSD
2022-08-21 05:00:00+00:00,CBSE,21200.14,21795.08,21067.33,21468.38,16745.547484,603324,21433.214216,BTCUSD
2022-08-21 05:00:00+00:00,ERSX,21232.00,24000.00,19500.00,21470.00,36.327327,735,21428.084757,BTCUSD
2022-08-21 05:00:00+00:00,FTXU,21199.00,21780.00,21072.00,21472.00,1610.056400,19605,21452.074381,BTCUSD

In [12]:
# Only using coinbase exchange
df = df[df["exchange"] == "CBSE"] 

display(df.head())
display(df.tail())

,exchange,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,,
2017-08-22 05:00:00+00:00,CBSE,3662.74,4145.00,3583.46,4092.00,13675.653936,39320,3934.254578,BTCUSD
2017-08-23 05:00:00+00:00,CBSE,4142.50,4218.00,4112.76,4143.27,2299.176066,8164,4159.198204,BTCUSD
2017-08-24 05:00:00+00:00,CBSE,4143.28,4349.99,4134.61,4312.03,7921.954295,31051,4231.990112,BTCUSD
2017-08-25 05:00:00+00:00,CBSE,4325.01,4453.90,4284.01,4360.00,8711.254435,30231,4368.579716,BTCUSD
2017-08-26 05:00:00+00:00,CBSE,4344.32,4392.00,4320.84,4326.00,1588.006506,7440,4350.164046,BTCUSD

,exchange,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,,
2022-08-17 05:00:00+00:00,CBSE,24072.26,24448.49,23180.14,23379.04,21507.482650,556575,23599.210786,BTCUSD
2022-08-18 05:00:00+00:00,CBSE,23379.04,23600.00,22712.22,22787.49,16656.303422,577763,23232.073186,BTCUSD
2022-08-19 05:00:00+00:00,CBSE,22789.49,22835.53,20782.39,21244.91,46606.469108,1004800,21446.285151,BTCUSD
2022-08-20 05:00:00+00:00,CBSE,21243.75,21372.93,20760.93,21200.14,18975.526149,689261,21169.806012,BTCUSD
2022-08-21 05:00:00+00:00,CBSE,21200.14,21795.08,21067.33,21468.38,16745.547484,603324,21433.214216,BTCUSD

In [13]:
# Dropping extra columns
df = df.drop(columns = ["exchange", "trade_count", "vwap", "symbol"])

# Renaming column, convert to datetime, droping timestamp hours section
df.reset_index(inplace=True)
df = df.rename(columns = {"timestamp":"date"})
df["date"] = pd.to_datetime(df["date"], format = "%Y-%m-%d", infer_datetime_format = True)
df["date"] = df["date"].dt.date
df = df.set_index(["date"])

display(df.head())
display(df.tail())

               open     high      low    close        volume
date
2017-08-22  3662.74  4145.00  3583.46  4092.00  13675.653936
2017-08-23  4142.50  4218.00  4112.76  4143.27   2299.176066
2017-08-24  4143.28  4349.99  4134.61  4312.03   7921.954295
2017-08-25  4325.01  4453.90  4284.01  4360.00   8711.254435
2017-08-26  4344.32  4392.00  4320.84  4326.00   1588.006506

                open      high       low     close        volume
date
2022-08-17  24072.26  24448.49  23180.14  23379.04  21507.482650
2022-08-18  23379.04  23600.00  22712.22  22787.49  16656.303422
2022-08-19  22789.49  22835.53  20782.39  21244.91  46606.469108
2022-08-20  21243.75  21372.93  20760.93  21200.14  18975.526149
2022-08-21  21200.14  21795.08  21067.33  21468.38  16745.547484

In [14]:
# Saving dataframe to csv

filepath = Path("Resources/BTCUSD_5_years_OHLCV.csv")  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath)